body {
    text-align: center;
}
form li {
    list-style: none;
    display:grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding: 10px;
}
form {
    text-align: left;
    margin: 0 auto;
    background-color: gray;
    width: 500px;
}
form li label{
    text-align:right;
}
#radioButtons, #submitButton{
    display:block;
    margin-left:100px;
}

#bookList {
    display:flex;
    justify-content: center;
}

.bookCard {
    background-color: gray;
    margin: 10px;
    padding: 10px;
}
